name: Continuous deployment
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Deploy to server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            echo "Starting deployment on server"

            cd /var/www/forum-api-v2

            git pull origin main

            npm install --omit=dev

            export $(cat .env | xargs)

            npm run migrate up

            pm2 restart forum-api

            echo "Deployment successful!"
